# Python
__pycache__/
*.py[cod]
*$py.class

# Daily Logs (Keep config.json and token.json)
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9].json
*.log

# Environments
venv/
env/

# IDEs
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store
